---
layout: default
---

{% include career-profile.html %}

{% include experiences.html %}

{% include education.html %}

{% include publications.html %}

<section class="section academic-service-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs" aria-hidden="true">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-clipboard-check fa-stack-1x fa-inverse"></i>
    </span>
    Academic Service
  </h2>
  <div class="item">
    <h3 class="job-title"><strong>Journal Reviewer</strong></h3>
    <div class="details">
      <p>IEEE Internet of Things Journal</p>
    </div>
  </div>
</section>

{% include awards.html %}
