{% assign awards = site.data.data.awards %}
{% if awards %}
<section class="section experiences-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-award fa-stack-1x fa-inverse"></i>
    </span>
    {{ awards.title }}
  </h2>

  {% for award in awards.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title" style="font-weight: 700; font-size: 16px;">
          {{ award.title }}
        </h3>
        <div class="time">{{ award.time }}</div>
      </div>

      <div class="company">{{ award.organization }}</div>

    </div>

    {% if award.details %}
    <div class="details">
      {{ award.details | markdownify }}
    </div>
    {% endif %}

  </div>
  {% endfor %}

</section>
{% endif %}
