{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% assign publication_groups = "international,domestic" | split: "," %}
  {% for group_name in publication_groups %}
    {% assign publication_group = publications[group_name] %}
    {% if publication_group %}
    <h3 class="publication-subtitle"
        style="font-size: 17px; color: #3E464A; margin-top: 18px; margin-bottom: 10px; font-weight: 700;">
      {{ publication_group.title }}
    </h3>

    {% for publication in publication_group.papers %}
    <div class="item">
      <div style="font-size: 15px; font-style: normal;">
        {{ publication.title }}{% if publication.link %} <a href="{{ publication.link }}" style="font-size: 15px; font-weight: 400; margin-left: 3px; color: #1a73e8;">Link</a>{% endif %}
      </div>
      {% if publication.authors %}
      <div class="publication-authors" style="font-style: normal;">
        {{ publication.authors }}
      </div>
      {% endif %}
      <div class="publication-conference">
        {{ publication.conference }}
      </div>
    </div><!--//item-->
    {% endfor %}
    {% endif %}
  {% endfor %}
</section><!--//section-->
{% endif %}
