/* Teal variables */
$theme-color: #315F69;
$text-color: #303B40;
$text-color-secondary: #50636B;
$text-grey: #74878F;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #EEF2F3;
$heart: #fa8072;
